<!DOCTYPE HTML>
<html>
<head>
    <title>Auction test</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        function onBodyLoad() {
            var socket = io('/auction');
            socket.on('connect', function() {
                socket.emit('join', {data: ''});
            });
            socket.on('bid', function(msg, cb) {
                var bid = document.createElement('li');
                bid.textContent = "bid received: " + msg.amount;
                document.getElementById('bids').appendChild(bid);
            });
        }
    </script>
</head>

<body onload="onBodyLoad();">
    <div id="bids"></div>
</body>
</html>