@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.qr {
  max-width: 320px;
  margin: auto;
  background-color: #eee;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.blink {
  animation: blinker 0.6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
