@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.qr {
  max-width: 320px;
  margin: auto;
  background-color: #EEE;
}

.avatar.verified::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgb(255,153,0)" d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg>');
  position: absolute;
  z-index: 10;
  display: block;
  --tw-bg-opacity: 1;
  width: 90%;
  height: 90%;
  top: -10%;
  right: 20%;
}

.avatar.not-verified::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgb(255,0,0)" d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg>');
  position: absolute;
  z-index: 10;
  display: block;
  --tw-bg-opacity: 1;
  width: 90%;
  height: 90%;
  top: -10%;
  right: 20%;
}

.glowbutton {
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor: pointer;
  line-height: 12px;
}

.glowbutton:before {
  content: '';
  z-index: 1;
  position :absolute;
  display: block;
  width: 96%;
  height: 90%;
  top: 5%;
  left: 2%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
}

.glowbutton:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(10px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}

.glowbutton:after {
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235,235,235,1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 96%;
  height: 90%;
  top: 5%;
  left: 2%;
  background-color: rgb(19, 20, 22);
}

.glowbutton-view:after {
  content: 'View';
}

.glowbutton-new:after {
  content: 'New';
}

.glowbutton-save:after {
  content: 'Save';
}

.glowbutton-verify:after {
  content: 'Verify';
}

.glowbutton-start:after {
  content: 'Start';
}

.glowbutton-copy:after {
  content: 'Copy';
}

.glowbutton-bid:after {
  content: 'Bid';
}

.glowbutton-buy:after {
  content: 'Buy';
}

.glowbutton-tweet:after {
  content: 'Tweet';
}

.glowbutton-go {
  width: 200px;
  height: 75px;
  line-height: 80px;
  font-size: 36px;
  content: 'GO';
}

.glowbutton-go:after {
  width: 96%;
  height: 90%;
  top: 5%;
  left: 2%;
  line-height: 70px;
  font-size: 36px;
  content: 'GO';
}

.glowbox {
  padding: 4px 24px;
  position: relative;
  border-radius: 8px;
}

.glowbox::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -10px;
  right: 0;
  z-index: -1;
  height: 100%;
  width: calc(100% + 20px);
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}


@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.blink {
  animation: blinker 0.6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
