@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.qr {
  max-width: 320px;
  margin: auto;
  background-color: #EEE;
}

.avatar.verified::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgb(255,153,0)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>');
  position: absolute;
  z-index: 10;
  display: block;
  --tw-bg-opacity: 1;
  width: 100%;
  height: 100%;
  top: -15%;
  right: 20%;
}

.glowbutton {
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor: pointer;
  line-height: 12px;
}

.glowbutton:before {
  content: '';
  z-index: 1;
  position :absolute;
  display: block;
  width: 96%;
  height: 90%;
  top: 5%;
  left: 2%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
}

.glowbutton:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(10px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}

.glowbutton:after {
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235,235,235,1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 96%;
  height: 90%;
  top: 5%;
  left: 2%;
  background-color: rgb(19, 20, 22);
}

.glowbutton-view:after {
  content: 'View';
}

.glowbutton-new:after {
  content: 'New';
}

.glowbutton-save:after {
  content: 'Save';
}

.glowbutton-start:after {
  content: 'Start';
}

.glowbutton-copy:after {
  content: 'Copy';
}

.glowbutton-bid:after {
  content: 'Bid';
}

.glowbutton-tweet:after {
  content: 'Tweet';
}

.glowbox {
  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
}

.glowbox::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* Animation */
.line-1{
    position: relative;
    width: 45em;
    top: 1em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.line-2{
  position: relative;
  width: 45em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter_1{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter_2{
  animation: typewriter 4s steps(44) 4s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 45em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.blink {
  animation: blinker 0.6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
