@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  @apply text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
  cursor: pointer;
}

.selected-menu-item {
  @apply text-white md:bg-transparent md:text-blue-700 md:p-0 dark:text-white;
  cursor: pointer;
}

.qr {
  width: 320px;
  margin: auto;
  background-color: #EEE;
}

.glowbutton {
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor: pointer;
  line-height: 12px;
}

.glowbutton.disabled {
  background: linear-gradient(60deg, #708090, #778899, #a9a9a9, #696969, #c0c0c0, #dcdcdc, #808080, #f4f0ec);
}

.glowbutton:before {
  content: '';
  z-index: 1;
  position :absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
}

.glowbutton.disabled:hover:before {
  background: none;
}

.glowbutton:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  

}

.glowbutton:after {
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235,235,235,1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;  
  background-color: rgb(19, 20, 22);
}

.glowbutton-enter:after {
  content: 'Enter!';
}

.glowbutton-create:after {
  content: 'Create';
}

.glowbutton-save:after {
  content: 'Save';
}

.glowbutton-start:after {
  content: 'Start';
}

.glowbutton-copy:after {
  content: 'Copy';
}

.glowbutton-continue:after {
  content: 'Continue';
}

.glowbutton-bid:after {
  content: 'Bid';
}

.glowbutton-tweet:after {
  content: 'Tweet';
}

.glowbox {
  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
}

.glowbox::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form-field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}

.form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
