base58
bip39gen
bleach
btc2fiat
boto3
ecdsa
email-validator
flask
flask-cors
flask-mail
flask-migrate
flask-sqlalchemy
gunicorn
lnurl
git+https://github.com/jeffthibault/python-nostr.git#egg=nostr
psycopg2
pycoin
pydantic==1.10.4
pyjwt
pyqrcode
python-dateutil
python-magic
requests
secp256k1