base58
bip39gen
bleach
btc2fiat
boto3
ecdsa
email-validator
flask
flask-cors
flask-migrate
flask-sqlalchemy
gunicorn
lnd-grpc-client>=0.3.41
lnurl
git+https://github.com/jeffthibault/python-nostr.git#egg=nostr
psycopg2
pycoin
pyjwt
pyqrcode
python-dateutil
python-magic
python-slugify
requests
requests_oauthlib
secp256k1